.App {
  text-align: center;
  background-image: linear-gradient(#a18cd1, #fbc2eb);
  min-height: 100vh;
}
.parent {
  width: 70%;
  height: 100%;
  background-color: white;
  margin: 0 auto;
  box-shadow: 0 7px 29px hsl(240deg 5% 41% / 20%);
  background: linear-gradient(
    273deg,
    rgb(0 0 0 / 0%) -81.71%,
    #ffffff42 79.17%
  );
}

.height {
  height: 150px;
}
/* #A18CD1,
#FBC2EB,
#FFCDA5,
#EE4D5F; */
